.input {

}

.input__label {
    display: block;
    margin-bottom: 0.25rem;
    color: var(--color-gray-light);
    text-transform: uppercase;
}

.input__body {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    border: solid 1px var(--color-gray-light);
    border-radius: var(--border-radius);
    outline: none;
    resize: none;
    font-size: 1.25rem;
    color: var(--color-gray-dark);
}

.input__body::placeholder {
    color: var(--color-gray-light);
    font-weight: 300;
}

.input__body:hover,
.input__body:focus {
    border-color: var(--color-teal);
}


