.chat-field {
    display: flex;
    flex-shrink: 0;
    padding: 1rem;
    background-color: #fff;
    box-shadow: var(--shadow-dark);
}

.chat-field__input {
    flex-grow: 1;
    margin-right: 1rem;
}
