.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--gradient-purple);
}

.app__header {
    position: relative;
    display: flex;
    padding: 0.75rem 1rem;
    align-items: center;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.app__body {
    display: flex;
    flex-grow: 1;
}

.app__logo-box {
    display: flex;
    align-items: flex-start;
}

.app__logo {
    display: block;
    margin-top: 0.15rem;
    width: 5rem;
}

.app__appendix {
    display: inline-block;
    margin-top: -0.3rem;
    padding-left: 0.25rem;
    color: var(--color-teal-light);
    font-size: 0.8rem;
}

.app__username {
    margin-left: auto;
    font-size: 1.25em;
    color: var(--color-purple);
}

.app__chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.app__users {
    flex-basis: 20%;
    min-width: 200px;
}
