.chat-board {
    box-sizing: border-box;
    flex-grow: 1;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    overflow: auto;
}

.chat-board__message {
    display: flex;
    color: #fff;
}

.chat-board__time {
    margin-right: 0.5rem;
}

.chat-board__username {
    margin-right: 0.25rem;
}

.chat-board__text {
    white-space: pre-line;
}
